<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ohana0.ohanagram.user.repository.UserRepository">
	<insert id="insertUser" parameterType="map">
		INSERT INTO `user`
		(`userId`,`password`,`name`,`email`,`profileImagePath`,`introduce`)
		VALUE
		(#{loginId},#{password},#{name},#{email},#{profileImage},#{introduce})
		
	</insert>
	
	<select id="countId" parameterType="String" resultType="int">
		SELECT count(0)
		FROM `user`
		WHERE `userId` = #{loginId}
	</select>
	
	<select id="selectUserByLoginIdAndPassword" parameterType="String" resultType="com.ohana0.ohanagram.user.domain.User">
		SELECT `id`, `userId`,`password`,`name`,`email`,`profileImagePath`,`introduce`,`createdAt`,`updatedAt`
		FROM `user`
		WHERE `userId` = #{loginId} AND `password` = #{password}
		
	
	</select>
	
	<select id="selectUserById" parameterType="String" resultType="com.ohana0.ohanagram.user.domain.User">
		SELECT `id`, `userId`,`password`,`name`,`email`,`profileImagePath`,`introduce`,`createdAt`,`updatedAt`
		FROM `user`
		WHERE `userId` = #{loginId}
	</select>
	


</mapper>