@charset "UTF-8";
#wrap{
	width:1200px;
	height:800px;
	margin:0 auto;
}
header{
	height:80px;
}
header>#searchbox{
	height:40px;
}
.contents{
}
.contents>.join-box{
	width:500px;
}
.contents>.join-box>*>.input-label{
	font-weight:600;
	font-size:24px;
}
.contents>.login-box{
	width:500px;
	height:400px;
}
.contents>.login-box>*>.input-label{
	font-weight:600;
	font-size:24px;
}



.contents>.contentsArea{
	width:600px;

}
